<ion-header>
  <ion-navbar>
    <ion-title>Content</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  
  <ion-list>
    <ion-item *ngFor="let item of navigationItems" (click)="navigateTo(item)">
      {{item.key | translate}}
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let content of contentItems">
    <ion-card-header>
      <div [innerHTML]="content.heading"></div>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="content.text"></div>
    </ion-card-content>
  </ion-card>

</ion-content>