<ion-header>
  <ion-navbar>
    <ion-title>{{navigationKey | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  
  <ion-list>
    <ion-item *ngFor="let item of navigationItems" (click)="navigateTo(item)">
      {{item.key | translate}}
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let content of contentItems">
    <ion-card-header>
      <div [innerHTML]="content.heading"></div>
    </ion-card-header>
    <ion-card-content>
      
      <div *ngIf="content.image">
        <img class="image" src="content/images/{{content.image}}">
      </div>
      
      <div [innerHTML]="content.text"></div>

    </ion-card-content>
  </ion-card>

</ion-content>