.content {

    ul {
        padding-left: 20px;
    }

    ion-card-header {
        white-space: normal;
    }

    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-bottom: 15px;
    }

}