<ion-header>
  <ion-navbar dark>
    <ion-title>Checklist</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="checklist">

  
        <checklist-item heading="Apply for an ID document if you don't already have one"
                        information="Where can I go to get an ID document?
 <ul>
 <li>
 Any District or Regional office of the Department of Home Affairs
 </li>
 <li>
 The Department of Home Affairs website at <a href='http://www.home-affairs.gov.za/Service%20Centers.html' target='_blank' hidefocus>http://www.home-affairs.gov.za/Service Centers.html</a> lists offices in all the provinces
 </li>
 </ul>
 What are the requirements for getting an ID document?
 <ul>
 <li>
 You need to be 16 years or older.
 </li>
 <li>
 You need to be a South African citizen or Permanent Resident.
 </li>
 <li>
 Go to Home Affairs office and fill in form BI-9 in black pen.
 </li>
 <li>
 Fingerprints will be taken at the office.
 </li>
 <li>
 Take with you a certified copy of your birth certificate.
 </li>
 <li>
 Take four black and white photographs (45mm x 35mm).
 </li>
 <li>
 If you are married, take a certified copy of your marriage certificate
 </li>
 <li>
 The first application for an ID document is free of charge.
 </li>
 <li>
 Details on the requirements for obtaining ID documents as well as Birth and Marriage Certificates can be found on the Department of Home Affairs website at <a href='http://www.home-affairs.gov.za/Civic%20Services.html' target='_blank' hidefocus>http://www.home-affairs.gov.za/Civic Services.html</a>
 </li>
 </ul>
 How long does it take to get an ID document?
 <ul>
 <li>
 The Department of Home Affairs lists the waiting period as 2 months.
 </li>
 <li>
 You may want to apply early in case of delays.
 </li>
 <li>
 If two months has passed since you applied, phone them to check on the status of your application.
 </li>
 </ul>">
                </checklist-item>


                <checklist-item heading="Make sure you meet all the requirements for a Learner's Licence"
                    information="<ul>
 <li>
 For light motor vehicles you need to be 17 years or older.
 </li>
 <li>
 You may not have been disqualified from getting a Learner's or Driver's Licence by court of law.
 </li>
 <li>
 You may not apply if your Licence has been suspended and you are still within the period of suspension, or your Licence has 
 
 been endorsed or cancelled.
 </li>
 <li>
 You may not apply if you already have a Licence for same class of vehicle.
 </li>
 <li>
 You must have no physical or mental disability that would make it difficult or dangerous for you to drive (including 
 
 uncontrolled epilepsy or diabetes). If you already have a Licence and you become aware of such a defect it is your 
 
 responsibility to report it to the authorities within 21 days of becoming aware of it.
 </li>
 </ul>">
                </checklist-item>

      

        <checklist-item heading="Practise the eye test, or do a free eye test at an optometrist"
                    information="<ul>
 <li>
 You need to have a Snellen rating of at least 6/12 in both eyes, or if one eye is less than this the other must be 6/9.
 </li> 
 <li>
 The SA Optometric Association website at <a href='http://www.saoa.co.za' target='_blank' hidefocus>http://www.saoa.co.za</a> has details on their 
 
 &quot;Eye Sense for your Licence&quot; programme - you can do a free eye test at participating members, and they give you a certificate. This certificate 
 
 is accepted by the Traffic Department for Driver's Licence applications, and by some Traffic Departments for Learner's Licence applications. Check with your Traffic Department. 
 </li>
 <li>
 They also have a sample Visual Acuity Chart, similar to the eye chart that is used at the Traffic Department for the eye test, which you can print out and use to give you an idea of whether you need to go for a formal test at an optometrist.
 </li>
 <li>
 If you fail the eye test, get glasses or contact lenses. You may drive with glasses or contacts, but your licence will be
 
 endorsed and you will always need to have them with you when you are driving.
 </li>
 </ul>">
        </checklist-item>


        <checklist-item heading="Get four ID photos"
                    information="These should be 40mm x 30mm passport size photos and can be black and white or colour.">
        </checklist-item>


        <checklist-item heading="Book for your Learner's Licence test at the Test Centre"
                    information="Where can I go to book for my Learner's Licence?
 <ul>
 <li>
 You need to go to a Learner's Licence Test Centre. Enquire from your nearest Traffic Department.
 </li>
 <li>
 The Learn2Drive3D directory lists some of the Test Centres in the major areas. Click the link (grey arrow) to go to the directory.
 </li>
 <li>
 To book tests in Gauteng, call the call centre on 0860 428 8364 after 12:30. You will still need to go to the Test Centre they 
 
 book you at to make a payment, so make sure you get the details from the Call Centre.
 </li>
 </ul>
 What are the requirements for booking a Learner's Licence test?
 <ul>
 <li>
 Go in person.
 </li>
 <li> 
 Take the prescribed fee. This varies per province, so contact your Test Centre to find out what the fee is.
 </li>
 <li> 
 Take a valid ID book.
 </li>
 <li> 
 Take two ID photos (they can be colour or black and white).
 </li>
 <li> 
 At the Test Centre you will fill in Form LL1.
 </li>
 <li> 
 Your eyes will be tested at the Test Centre.
 </li>
 </ul>">
        </checklist-item>

         <ion-card>

            <ion-card-content>
                <ion-card-title>
                   
                    <ion-row>
                        <ion-col width-10>
                            <ion-checkbox favorite></ion-checkbox>
                        </ion-col>
                        <ion-col width-90>
                             Read all content
                        </ion-col>
                    </ion-row>

                </ion-card-title>

                <p>{{contentReadCount}} of {{contentSectionCount}} sections read</p>

                <!--
                <ion-icon *ngIf="contentAllRead === null" item-right name="remove"></ion-icon>
                <ion-icon *ngIf="contentAllRead === true" item-right favorite name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="contentAllRead === false" item-right danger name="close-circle"></ion-icon>
                -->

            </ion-card-content>

<!--
    <ul>
 <li>
 The main sections are:
 <ul><li>
 Vehicle controls
 </li>
 <li>
 Rules of the road
 </li>
 <li>
 Road signals
 </li>
 <li>
 Road signs
 </li>
 <li>
 Road markings
 </li><ul/>
 <li>
 Keep track of your progress and which sections you still need to cover using the Learn2Drive3D logbook.
 </li>
 <li>
 Test yourself on each sub-section as you complete it, and revise when you get to the end of a major section.
 </li>
 </ul>
    -->

        </ion-card>


        <ion-card>
             <ion-card-content>
                <ion-card-title>
                    
                     <ion-row>
                        <ion-col width-10>
                            <ion-checkbox></ion-checkbox>
                        </ion-col>
                        <ion-col width-90>
                             Pass the Mock Test 3 times
                        </ion-col>
                    </ion-row>

                </ion-card-title>

                <!--
                <ion-icon *ngIf="mockTestPassed === null" item-right name="remove"></ion-icon>
                <ion-icon *ngIf="mockTestPassed === true" item-right favorite name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="mockTestPassed === false" item-right danger name="close-circle"></ion-icon>
                -->

            </ion-card-content>
            
        </ion-card>

        <checklist-item heading="Go to the Test Centre to write your test"
                    information="What should I take with me to the test?
 <ul>
 <li>
 The test fee receipt you received when you booked your test.
 </li>
 <li>
 Your valid ID book.
 </li>
 <li>
 A pencil.
 </li>
 <li>
 The prescribed fee for the issuing of the Licence if you pass your test (this is a second fee, not the same as the booking 
 
 fee). The fee varies, so check with your Test Centre beforehand.
 </li>
 </ul>
 If I pass, how long do I wait for my Learner's Licence?
 <ul>
 <li>
 Your Licence will be issued to you immediately after passing your test.
 </li>
 </ul>
 What does the Learner's Licence entitle me to do?
 <ul>
 <li>
 You may now drive a car, subject to the following rules:
 </li>
 <li>
 You must carry your Learner's Licence with you at all times while driving.
 </li>
 <li>
 You need to have a supervisor with you at all times who:
 <ul>
 <li>
 Has a valid Licence for the same class of vehicle
 </li>
 <li>
 Has to sit in the passenger seat or behind the driver's seat if they can't sit in the passenger seat
 </li>
 <li>
 Can't be under the influence of drugs or alcohol
 </li>
 </ul>
 </li>
 <li>
 You don't have to use L plates by law, but other drivers are more likely to be patient with you if you do (remember to remove 
 
 them after each driving session).
 </li>
 <li>
 You may have other passengers in the car, but not paying passengers.
 </li>
 <li>
 You may tow a caravan/trailer.
 </li>
 <li>
 You may go on freeways.
 </li>
 </ul>
 How long is the Learner's Licence valid for?
 <ul>
 <li>
 24 months from the date of issue.
 </li>
 </ul>">
        </checklist-item>


</ion-content>