// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../components/content/content.component";
@import "../components/test/test.component";
@import "../components/home/home.component";
@import "../components/test-result/test-result.component";



// Ionic Overrides
// --------------------------------------------------
ion-footer {
  .toolbar-title{
    font-size: 1.4rem;
  }
}

ion-content {
  background-color: #fbfdff !important;
}


// Global Styles
// --------------------------------------------------
ion-card {

    margin-bottom: 25px;

    ion-card-header {
        white-space: normal;
        font-weight: bold;
    }

    ion-card-content {
        line-height: 1.7;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            margin-bottom: 0px;
            margin-top: 25px;
        }

        li ul {
            margin-top: 5px;
        }

        li {
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 10px;    
        }

        ion-radio {
            margin-top: 1px;
        }
    }
}

ul.numbered {
    list-style: decimal;
}

