
.test-result-questions {

     h1 {
        font-weight: bold;
    }

    ion-card-header {

        padding-bottom: 8px;

        ion-icon {
            float: right;
            font-size: 1.7em;
        }
    }


}