

<ion-card class="question">

    <ion-card-header>
        Question {{questionNumber}}
    </ion-card-header>

    <ion-card-content>
        
        <p *ngFor="let text of question.text">
            {{text}}
        </p>

        <p *ngFor="let image of question.images">
            <img class="image" src="content/images/{{image}}">
        </p>
        
        <br/>

    
        <ion-list radio-group [(ngModel)]="selectedAnswerId" (ionChange)="answerChanged()">
            <ion-grid>
                <ion-row *ngFor="let answer of question.answers">
                    <ion-col width-10>
                        <ion-radio value="{{answer.id}}"></ion-radio>
                    </ion-col>
                    <ion-col width-90>
                        <p (click)="selectAnswer(answer.id)">{{answer.text}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-list>


    </ion-card-content>

</ion-card>