 
 
 <div class="checklist-item">
    <ion-card [class.complete]="complete">
        <ion-card-content>
            <ion-card-title (click)="toggleComplete()">
                <ion-row>
                    <ion-col width-10>
                        <ion-icon name="radio-button-off" *ngIf="!complete"></ion-icon>
                        <ion-icon color="favorite" name="checkmark-circle" *ngIf="complete"></ion-icon>
                    </ion-col>
                    <ion-col width-90>
                        {{heading}}
                    </ion-col>
                </ion-row>
                
            </ion-card-title>

            <p (click)="showInformation()" >More info..</p>

        </ion-card-content>
    </ion-card>
 </div>