<ion-header>
  <ion-navbar primary>
    <ion-title>Learn2Drive</ion-title>

    <ion-buttons end>
      <button (click)="showHomeMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>


<ion-content class="home">

    <div (click)="navigateToChecklist()" class="quater">
        Checklist
        <progressbar #checklistprogressbar key='checklist-progressbar'></progressbar>
    </div>
    <div (click)="navigateToContent()" class="quater">
        Content
        <progressbar #contentprogressbar key='content-progressbar'></progressbar>
    </div>
    <div (click)="navigateToMockTest()" class="quater">
        Mock Test
    </div>
    <div class="quater">
        Settngs?
    </div>




    <!--<ion-card class="checklist" (click)="navigateToChecklist()">
         <ion-card-content>
            <ion-card-title>
                Checklist <checklist-progress></checklist-progress>
            </ion-card-title>
            <p>
               Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.
            </p> 
        </ion-card-content>
    </ion-card>
  
    <ion-card class="learners" (click)="navigateToContent()">
        <ion-card-content>
            <ion-card-title>
                Learners License Content <content-progress [navigationKey]="rootNavigationKey"></content-progress>
            </ion-card-title>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
            </p> 
        </ion-card-content>
    </ion-card>

    <ion-card class="mock-test" (click)="navigateToMockTest()">
         <ion-card-content>
            <ion-card-title>
                Mock Test
            </ion-card-title>
            <p>
                Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
            </p> 
        </ion-card-content>
    </ion-card>-->

</ion-content>


