<ion-header>
  <ion-navbar primary>
    <ion-title>Learn2Drive</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="home">
  
    <ion-card (click)="navigateToContent()">
        <ion-card-content>
            <ion-card-title>
                <ion-icon name="book"></ion-icon> Learners License Content
            </ion-card-title>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
            </p> 
        </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateToMockTest()">
         <ion-card-content>
            <ion-card-title>
                <ion-icon name="school"></ion-icon> Mock Test
            </ion-card-title>
            <p>
                Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
            </p> 
        </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateToSettings()">
         <ion-card-content>
            <ion-card-title>
                <ion-icon name="settings"></ion-icon> Settings
            </ion-card-title>
            <p>
               Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.
            </p> 
        </ion-card-content>
    </ion-card>

</ion-content>


