<ion-header>
  <ion-navbar primary>
    <ion-title>Learn2Drive</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="home">
  
    <ion-card class="learners" (click)="navigateToContent()">
        <ion-card-content>
            <ion-card-title>
                Learners License Content <content-progress [navigationKey]="rootNavigationKey"></content-progress>
            </ion-card-title>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
            </p> 
        </ion-card-content>
    </ion-card>

    <ion-card class="mock-test" (click)="navigateToMockTest()">
         <ion-card-content>
            <ion-card-title>
                Mock Test
            </ion-card-title>
            <p>
                Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
            </p> 
        </ion-card-content>
    </ion-card>

    <ion-card class="settings" (click)="navigateToChecklist()">
         <ion-card-content>
            <ion-card-title>
                Checklist <checklist-progress></checklist-progress>
            </ion-card-title>
            <p>
               Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.
            </p> 
        </ion-card-content>
    </ion-card>

    <ion-card class="settings" (click)="navigateToSettings()">
         <ion-card-content>
            <ion-card-title>
                Settings
            </ion-card-title>
            <p>
               Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.
            </p> 
        </ion-card-content>
    </ion-card>

</ion-content>


