<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{navigationKey | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  
  <navigator></navigator>
  
  <learn></learn>

</ion-content>


<ion-footer class="content-footer">
  <ion-toolbar *ngIf="sectionHasTestQuestions">
      
      <p ion-text padding-left outline *ngIf="lastTestResult != null" color="secondary">
        Last Test Result for this Section: <b>{{lastTestResult.resultPercent()}}%</b>
      </p>

      <p ion-text padding-left outline *ngIf="noTestWrittenForSection" color="secondary">
        No Test Written for this Section yet
      </p>

      <ion-buttons padding-right end *ngIf="lastTestResult != null">
        <button ion-button icon-only color="secondary" (click)="navigateToTestHistory()">
          <ion-icon name="list-box"></ion-icon>
        </button>
      </ion-buttons>
 
  </ion-toolbar>
</ion-footer>


<ion-fab right bottom class="test-button" *ngIf="sectionHasTestQuestions" style="bottom: 70px">
  <button ion-fab color="secondary" (click)="startTest()" class="test-button">
    <ion-icon name="school"></ion-icon>
  </button>
</ion-fab>