.mock-test-result {

    .main-header {
        ion-icon {
            float: right;
        }
    }

    .section-header {

        background-color: color($colors, dark);

        .main {
            font-size: 1.2em;
            color: color($colors, light);
        }

        .secondary {
            float:right;
            font-weight: normal;
            font-size: 0.9em;
            color: color($colors, light);
        }

    }

    .section-summary {

        ion-note {
            font-size: 0.95em;
        }

        .pass {
            color: color($colors, favorite);
        }

        .fail {
            color: color($colors, danger);
        }

    }

}