.mock-test-result {

    .section-header {

        .main {
            font-size: 1.2em;
        }

        .secondary {
            float:right;
            font-weight: normal;
            font-size: 0.9em;

        }

    }

}