
<ion-header>
  <ion-navbar secondary>
    <ion-title>{{navigationKey | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="test">

    <div *ngFor="let question of questions; let i = index">
        <question 
          [question]="question" 
          [questionNumber]="i + 1"
          (questionAnsweredEvent)="questionAnswered($event)"></question>
    </div>

</ion-content>


<ion-footer>
  <ion-toolbar secondary>

    <ion-title><p>{{answeredQuestions.length}} of {{questions.length}} answered<p></ion-title>

    <ion-buttons end>
      <button outline (click)="markTest()">
        Mark Test
      </button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>

